<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{banner_image}} alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src={{banner_image2}} alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src={{banner_image3}} alt="New York" class="d-block w-100">
      </div>
    </div>
   <div class="text-header">
    <div class="row">
    <div class="title">IELTS 8.0 IN THE FUTURE</div>
    <div class="title-content">Chào mừng bạn đến với thế giới học IELTS</div>
    <div class="sub-title">Bạn đã tìm thấy các học tiếng anh cho riêng mình English<sup>®</sup>
       yêu thích để tự học tại nhà chưa? Hãy thử cố gắng và cháy hết mình cùng chúng tôi<sup>®</sup>  
       <div>
        và cùng chúng tôi cố gắng, từ những điều nhỏ nhất, hành trình nỗ lực và cố gắng bền bỉ cho đến khi bạn đạt được thành công.
       </div>
      </div>
    </div>
    <button class="btn-dangki">Học ngay</button>
   </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>