
/* Css cho phần menu */ 
/* Định nghĩa ra các biến màu và dùng lại */

.menu{
    border-radius: 5px;
    height: 46px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
}



.menu li {
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    line-height: 46px;
    color: white;
    font-size: 18px;
    max-width: 0 5px;
    padding: 0 10px;
    color: whitesmoke;
}

.menu li a{
    color: whitesmoke
}

.menu li:hover{
    background-color: #8a8a8a;
}

.student-name{
    font-weight: bold;
    line-height: 46px;
    padding-right: 10px;
}

#avatar{
    border-radius: 50%;
}