
<div class="top-menu">
    <div>
        <img src="http://naphoga.vn/pic/banner/Logo-GOAT_638198261005638829.jpg">
    </div>

    <div class="top-menu-right">
        <div class="top-menu-right-top">
            <div class="top-menu-right-top-item">
                <p>Đường giây nóng hỗ trợ khách hàng</p>
            </div>
            <div class="top-menu-right-top-item">
                <p>Hotline: 0966872539 Mr.Tiến </p>
            </div>
            <div class="top-menu-right-top-item">
                <p>Email: goat@gmai.com</p>
            </div>
        </div>
        <div class="top-menu-right-bottom">
            <div class="searchBox">
                <input type="text" placeholder="Nhập từ khóa tìm kiếm...">
                
            </div>
            <i class="ti-search"></i>
            <div class="info-contract">
                <img class="info-icon" src="http://naphoga.vn/pic/banner/zal_637782136945737650.png">
                <img class="info-icon" src="http://naphoga.vn/pic/banner/yt_637782136871669577.png">
                <img class="info-icon" src="http://naphoga.vn/pic/banner/fb_637782136764161408.png">
            </div>
        </div>
    </div>
</div>

    <div class="menu">
        <ul class="ul-navbar">
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a href="#">Giới thiệu</a>
            </li>
            <li>
                <a href="#">Sản phẩm</a>
            </li>
            <li>
                <a href="#">Tin tức</a>
            </li>
        </ul>
    </div>
