<div class="container-fluid bg-dark d-flex justify-content-center">
    <div class="container">
       <div class="row">
        <div id="menu">
          <ul>
            <li>
              <a href="#">Trang chủ</a>
            </li>
            <li>
              <a href="/home">Bài viết</a>
              <ul class="sub-menu">
                <li><a >bài viết 2.1</a></li>
                <li><a>bài viết 2</a></li>
              </ul>
            </li>
            <li>
              <a href="/home">Từ vựng</a>
            </li>
            <li>
              <a>Ngữ pháp</a>
            </li>
            <li>
              <a>Khóa học</a>
            </li>
            <li>
              <a>Tin tức</a>
            </li>
            <li>
              <a>Sản phẩm</a>
            </li>
          </ul>
        </div>
       </div>
    </div>
</div>