
<div class="menu">
        <ul class="ul-navbar">
            <li>
                <a href="#">
                    <i class="ti-layout-grid4-alt"></i>
                </a>
            </li>
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a href="#">Giới thiệu</a>
            </li>
            <li>
                <a href="#">Sản phẩm</a>
            </li>
            <li>
                <a routerLink="/login">Đăng nhập</a>
            </li>
        </ul>
</div>
