<div class="container-fluid footer_color">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center opacity-50">
            <div class="p-2">
              <i class="fa-brands fa-square-facebook fa-2xl"></i>
            </div>
          </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <div>
                <p class="sbx-footer-copyright-text">
                    STARBUCKS and the Starbucks<sup>®</sup> logo are used under license by Nestlé.
            
            Pike Place is a registered trademark of The Pike Place Market PDA, used under license.
            
            Nespresso<sup>®</sup> and NESCAFÉ<sup>®</sup> Dolce Gusto<sup>®</sup> are registered trademarks of Société de Produits Nestlé S.A..
            
            All other trademarks are the property of their owners.

                </p>
            </div>
        </div>
       
    </div>
</div>