<div class="main-footer">
    <div class="footer-container">
        <div class="footer-top"></div>

        <div class="parent-ul">
            <ul>
                <li>Find word</li>
                <li>Become a member</li>
                <li>Send us feebback</li>
            </ul>
    
            <ul>
                <li>GET HELP</li>
                <li class="text-opacity">Become a member</li>
                <li>Send us feebback</li>
                <li>Contract Us</li>
            </ul>
    
            <ul>
                <li>Find word</li>
                <li>Become a member</li>
                <li>Send us feebback</li>
            </ul>
        </div>
       
    </div>
</div>