<div id="header">
    <!--Begin menu-->
    <ul id="nav">
        <li><a href="Home">Home</a></li>
        <li><a href="Band">Band</a></li>
        <li><a href="Tour">Tour</a></li>
        <li><a href="Contact">Contract</a></li>
        <li>
            <a href="#">More
                <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <ul class="subnav">
                <li class="nav-item"><a href="#">Kick off</a></li>
                <li class="nav-item"><a href="#">Information</a></li>
                <li class="nav-item"><a href="#">Resend</a></li>
            </ul>
        </li>
    </ul>
    <!--End Menu-->
    
    <!--Start search-->
    <div class="search-btn">
        <i class="search-icon ti-search"></i>
    </div>
    <!--End search-->
</div>