<div class="container">
    <div class="row text-center m-3">
      <div class="col-sm-12 col-md-3 col-lg-3 info d-flex justify-content-center">
        <app-dasboard-overview 
           [number]="totalCount"
           [text]="'Tổng số từ đã thêm'"
           >
          </app-dasboard-overview>
         
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 info d-flex justify-content-center align-items-center"
      matTooltip="Thêm từ mới vào khu chứa từ."
      >
        <a  mat-raised-button color="accent" (click)="openFormChild($event)" target="_blank">Admin-add-vocabulary</a>
      </div>
      
    </div>
    
    <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Từ tiếng anh</th>
            <th scope="col">Nghĩa tiếng việt</th>
            <th scope="col">thời gian thêm</th>
          </tr>
        </thead>
        <tbody >
          <tr class="mytr" *ngFor="let item of vocabularies; let i = index"
           matTooltip="Lưu ý : {{item.note}}" 
           [matTooltipPosition]="'above'"
           >
            <th scope="row">{{i+1+(pageindex-1)*24}}</th>
            <td>
              <img
					[src]="'https://upload.wikimedia.org/wikipedia/commons/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg'"
					class="me-2"
					style="width: 20px"
				/>
              {{item.english}}</td>
            <td>
              <img
					[src]="'https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg'"
					class="me-2"
					style="width: 20px"
				/>
              {{item.meaningVietNam}}</td>
            <td>{{item.created_on | dateFormat}}</td>
          </tr>
         
        </tbody>
      </table>
      <div class="container d-flex justify-content-center">
        <ngb-pagination [collectionSize]="this.totalCount" 
        [(page)]="pageindex" [boundaryLinks]="true"
        [pageSize]="pagesize"
        (pageChange)="changePage()"></ngb-pagination>
      </div>
      
</div>