.img-regis {
    width: 222px;
    height: 80px;
    margin-bottom: 10px;
}

.text-blue {
    font-size: 17px;
    color: #0052CC;
}

.text-blue:hover {
    text-decoration: underline;
}

.input-group-text {
    background-color: rgb(191, 191, 255);
    color: #fff;
    font-size: 20px;
}

span.input-group-text.verify-txt {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #2cde37;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

input.form-control {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.txt-custom {
    font-size: 13px;
}

span.input-group-text.password-icon {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccf;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

input#password {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input#confirmPassword {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.txt-size {
    font-size: 13px;
}

.icon-gg {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #d8dae3;
    padding: 7px 0px;
    min-width: 181px;
    margin-bottom: 10px;
}

.gg-img {
    width: 25px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}