<app-header></app-header>
<div class="container">

  <div class="text-loading" *ngIf="isloading"></div>
  <div class="loader" *ngIf="isloading">
  </div>
  <div class="text-loading" *ngIf="isloading">Đang tải dữ liệu...</div>

  <div class="col-md-12" *ngIf="!isloading">
    <div class="title d-none d-sm-block shadow-lg p-3 mb-5 bg-white rounded mt-2">
      {{post.title}}
      
    </div>
    <div class="vth-d-flex right">
      <button *ngIf="!isSave" class="vth-button" (click)="displayEditer()">
        <i class="fa-solid fa-pen-to-square"></i>
        Sửa</button>
      <button *ngIf="isSave" class="vth-button" (click)="SavePost()">
        <i class="fa-regular fa-floppy-disk"></i>
        Lưu</button>
      <button class="vth-button" (click)="open(id)">
        <i class="fa-regular fa-floppy-disk"></i>
        Thêm từ</button>
        <button class="vth-button" (click)="showTranlate()">Xem bản dịch</button>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center" *ngIf="!isEditterVisible">
        <div class="mx-auto text-center imag-container">
          <img width="100%" height="100%" class="image" src="{{post.image}}">
        </div>
      </div>

      <div class="col-md-12">
        <!--Phần tiếng anh-->
        <div *ngIf="!isEditterVisible" class="content" [innerHTML]="someHtmlCode"></div>
        <div *ngIf="isEditterVisible" class="title-table">Chỉnh sửa tiếng anh:</div>
        <div *ngIf="isEditterVisible" class="editer" [ngxSummernote]="configNgxSummernote" [(ngModel)]="binDataPost">
        </div>
        <!--Phần tiếng việt-->
        <div *ngIf="tranlateVisible">
          <div *ngIf="!isEditterVisible" class="content" [innerHTML]="someHtmlCode2"></div>
          <div *ngIf="isEditterVisible" class="title-table">Chỉnh sửa tiếng việt:</div>
          <div *ngIf="isEditterVisible" class="editer" [ngxSummernote]="configNgxSummernote"
            [(ngModel)]="binDataVietName"> </div>
        </div>


      </div>

    </div>

    <div class="table-footer">
      <table id="customers">
        <tr>
          <th>STT</th>
          <th>Vietnamese</th>
          <th>Node</th>
        </tr>
        <tr *ngFor="let phrase of phrases;let i = index">
          <td>{{i+1}}</td>
          <td>{{phrase.word}}</td>
          <td>{{phrase.definition}}</td>
        </tr>

      </table>
    </div>
  </div>