
<div class="intro">
    @viettienhung-limitedCompany
    <div class="text-intro">
        IELTS 8.0 INTO STYLE
    </div>
    <div class="sub-text-intro">
        For days when you need kicks thant can keep up with your every more. #ChaseTheDay
    </div>
    <button class="btn btn-primary vth-btn">Learn</button>
    <button class="btn btn-primary vth-btn">Detail</button>
</div>
<div class="list-product">
    <div *ngFor="let post of posts" class="product-item">
            <a class="image">
                <img class="image_img" width="100%" height="100%" src="{{post.image}}" alt="food image">
            </a>
            <div class="title">
                {{post.title}}
            </div>
            <button class="btn btn-outline-secondary" (click)="GoDetail(post.id)">Detail</button>
    </div>
</div>

