<div class="container font-weight-bold text-center mt-3">
    <div class="d-flex justify-content-center">
        <h1 style="font-weight: 400;">FREE TO LEARNING </h1>
         <span style="line-height: 40px; padding-left: 4px;">for a thriving community</span>
    </div>
    <h1 class="companyName" style="color: #333">@viettienhung.company.com</h1>
</div>





<!--Bảng điều khiển-->
<div class="container">
    <div class="d-flex header_item ">
        <app-header-item *ngFor="let item of headeritems" [text]="item.text" [imageUrl]="item.image" [href]="item.href" (newItemEvent)="getHref()"></app-header-item>
    </div>

    <div class="row d-flex justify-content-between p-1 mt-3">

          <!-- PHẦN THANH CHỌN LOẠI KHÓA BÀI VIẾT -->
        
        <div class="col-sm-12 col-md-3">
            <select #mySelect class="form-select form-select-sm" aria-label=".form-select-sm example"
                (change)="onSelected(mySelect.value)">
                <option *ngFor="let opt of options; let i= index;" [value]="i">
                    {{opt}}
                </option>
            </select>
        </div>

            <!-- PHẦN NÚT-->
        <div class="col-sm-12 col-md-6 d-flex justify-content-end">
            <button class="vth-button" (click)="openFormChild($event)">Thêm bài viết</button>
        </div>
    </div>
</div>
<!--End bảng điều khiển-->


<!--DANH SÁCH CÁC BÀI VIẾT-->
<div class="container">

    <div class="row text-center" style="border-bottom: 2px solid black;">
        <h1>DANH SÁCH BÀI VIẾT</h1>
    </div>
    <div class="row">
        <div *ngFor="let post of posts;" class="col-sm-6 col-md-4 col-lg-2">
            <div class="product-item-inside">
                <a class="image">
                    <img class="image_img" width="100%" height="100%" src="{{post.image}}" alt="food image"
                        (click)="GoDetail(post.id)">
                </a>
                <div class="text-title">
                    {{post.title}}
                </div>
                {{post.createdDate | dateFormat}}
                <ngb-rating [rate]="post.band"></ngb-rating>
                <br>
                <span class="postStatus" [ngClass]="bgSuccess"><i
                        class="fa-solid fa-check m-1"></i>{{post.status}}</span>
                <button class="vth-button" (click)="deletePost(post.id)">
                    <i class="fa-solid fa-trash-can"></i>
                    Xóa
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <ngb-pagination [collectionSize]="this.totalCount" [(page)]="pageIndex" [boundaryLinks]="true" [pageSize]="pageSize"
        (pageChange)="changePage()"></ngb-pagination>
</div>

<button (click)="showData()">show data</button>