
.container{
    width: 100%;
    display: flex;
   justify-content: center;
}

.home-container{
    width: 70%;
}

li a:hover{
    opacity: 0.9;
}
.list-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.product-item{
    padding: 5px;
    width: 20%;
    display: block;
}

.bottom-btn{
    display: flex;
   justify-content: space-between;
}

.detail-btn{
   border: 1px solid #844205;
   border-radius: 0.5rem;
   margin: 1%;
   width: 30%;
   color: #844205;
}

.detail-btn-contract{
    font-weight: bold;
    font-size: 16px;
    width: 60%;
}

.detail-btn-contract:hover, .detail-btn:hover{
    background-color:  #844205;
    color: white;
}
